<template name="about">
  <div class="container-fluid">
    <div class="row" id="about-1st">
      <div class="about-content-top"></div>
      <div class="about-content-btm"></div>
    </div>
    <div class="row" id="about-2nd">
      <div class="about-content-top"></div>
      <div class="about-content-btm"></div>
    </div>
    <div class="row" id="about-3rd">
      <div class="about-content-top"></div>
      <div class="about-content-btm"></div>
    </div>
    <div class="row" id="about-4th">
      <div class="about-content-top"></div>
      <div class="about-content-btm"></div>
    </div>
  </div>
</template>