<template name="about">
  <div class="container-fluid">
    <div class="about-3rd">
      <div class="about-content">
        <div class="header-background">
          <h1 class="about-header"><span>About Team Citadel</span></h1>
        </div>
        <div class="bio-wrapper-background">
          <h2 class ="intro-about-header">
            With decades of experience in the RF, UAV and Hardware space, our team is more than qualified and proven to succeed.
          </h2>
          <div class = "line"></div>
        <div class="bio-wrapper">
          <img src="img/dan-magy.png" name="Dan Magy" class="bounce-img">
          <h5>Daniel Magy<br><span>Founder</span></h5>
          <div class="modal">
          <p id="dan">
            <h2>Daniel Magy</h2>
            <div class ="line"></div>
            Co-founder at Fanpics. 100+ venue contacts in the sports and music industry from his time as the Head of Business Development at Fanpics. Scaled Fanpics, a hardware/software company, from 2-20 people and raised over $7 million before leaving to pursue this opportunity.</p>
          </div>
      </div>
        <div class="bio-wrapper">
          <img src="img/konstantine.png" class="bounce-img fade-in">
          <h5>Konstantin Dubovenko<br><span>Firmware/Hardware Expert</span></h5>
          <div class="modal">
          <p id="konstantine">
            <h2>Konstantin Dubovenko</h2>
            <div class ="line"></div>
            Former Electrical Engineer at Qualcomm. Before Qualcomm Konstantin worked as an embedded software developer at General Atomics.</p>
        </div>
      </div>
        <div class="bio-wrapper">
          <img src="img/lydell-aaron.png" class="bounce-img fade-in"/>
          <h5>Lydell Aaron<br><span>Lead Software Architect</span></h5>
          <div class="modal">
          <p id="lydell">
            <h2>Lydell Aaron</h2>
            <div class ="line"></div>
            With 15 years of software experience at Northrop Grumman and most recently General Atomics Aeronautical, Lydell has lead multiple R&D efforts in prototype systems and software development.</p>
        </div>
        </div>
        <div class="bio-wrapper push">
          <img src="img/face1.png" class="bounce-img fade-in">
          <h5>Andy Polk<br><span>Strategic Advisor on Capitol Hill</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Andy Polk</h2>
            <div class ="line"></div>
            Andy is a former Director of the Congressional Anti-Terrorism Caucus and National Security Advisor for the House Intelligence Committee</p>
        </div>
        </div>
         <div class="bio-wrapper push">
          <img src="img/face2.png" class="bounce-img fade-in">
          <h5>Paul Fraidenburgh<br><span>Strategic Legal Advisor</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Paul Fraidenburgh</h2>
            <div class ="line"></div>
            Coined the name "Rock Star drone lawyer" by the Washington Post, Paul has worked with 20+ companies to get FAA and FCC approval and is a leading authority on Drone Regulations.</p>
        </div>
        </div>
         <div class="bio-wrapper push">
          <img src="img/face3.png" class="bounce-img fade-in">
          <h5>Steven Shaw<br><span>Sr. Software Developer</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Steven Shaw</h2>
            <div class ="line"></div>
            Steven has 20 years of experience at companies such as iAccess, General Atomics and the Boeing Company. His specialties lie in embedded systems and Real-Time Operating Systems (RTOS)</p>
        </div>
        </div>
        <div class="bio-wrapper push">
          <img src="img/gordon-feller.png" class="bounce-img fade-in">
          <h5>Gordon Feller<br><span>Strategic Advisor and Board Member</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Gordon Feller</h2>
            <div class ="line"></div>
            Co-Founder of CityMinded.org an organization dedicated to building smart cities. Gordon is also the former director at Cisco, where he focused on connected cities </p>
        </div>
        </div>
        <div class="bio-wrapper push">
          <img src="img/gerry-booth.png" class="bounce-img fade-in">
          <h5>Gerry Booth<br><span>Technical Advisor</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Gerry Booth</h2>
            <div class ="line"></div>
            Gerry spent 20+ years imagining and delivering to market technology solutions worldwide in muiltiple defense and commercial industries. He has worked with a wide range of companies from Fortune 500 to start-ups.</p>
        </div>
        </div>
        <div class="bio-wrapper push">
          <img src="img/henrik.png" class="bounce-img fade-in">
          <h5>Henrik Borgstrom<br><span>Radio Control and Signal Processing Expert</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Henrik Borgstrom</h2>
            <div class ="line"></div>
            Henrik has a PhD in robotics from UCLA and is involved with UCLA's Wireless Health Institute. In addition, he has extensive experience in radio control, embedded programming, signal processing, and communication protocols.</p>
        </div>
        </div>
         <div class="bio-wrapper push">
          <img src="img/kelly.png" class="bounce-img fade-in">
          <h5>Kelly McGee<br><span>Mechanical Engineer and Designer</span></h5>
          <div class="modal">
          <p id="kelly">
            <h2>Kelly McGee</h2>
            <div class ="line"></div>
            Kelly spent most of his time at MIT as a researcher at the MIT Media Lab. Kelly will be spending the next six months working part time as a Product Designer for Apple and Citadel.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</template>