<template name="about">
  <div class="container-fluid">
    <div class="row" id="about-1st">
      <div class="about-content">
        <h1>About Citadel</h1>
        <h3>Some text about citadel some text about citadel</h3>
      </div>
    </div>
    <div class="row" id="about-2nd">
      <div class="about-content">
        <h2>Our Team</h2>
        <h5>Some text about the team Some text about the team</h5>
        <img src="#">
      </div>
    </div>
    <div class="row" id="about-3rd">
      <div class="about-content">
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
        <a href="#">
          <img src="#">
          <h5>Dan Magy</h5>
        </a>
      </div>
    </div>
  </div>
</template>