<template name="contact">
  <div class="container-fluid">
    <div class="row" id="contact-1st">
      <div class="contact-content">
        <h2>Contact Citadel</h2>
        <img src="img/building.jpeg">
        <p>Contact info Contact info Contact info Contact info Contact info Contact info Contact info Contact info </p>
      </div>
    </div>
    <div class="row" id="contact-2nd">
      <div class="contact-content">
        <h2>Contact information for the company</h2>
        <ul>
          <li>Address</li>
          <li>Phone Number</li>
          <li>Email Address</li>
          <li>Social Media</li>
        </ul>
      </div>
    </div>
  </div>
</template>