<template name="contact">
  <div class="container-fluid">
    <div class="row" id="contact-1st">
      <div class="contact-content-top"></div>
      <div class="contact-content-btm"></div>
    </div>
    <div class="row" id="contact-2nd">
      <div class="contact-content-top"></div>
      <div class="contact-content-btm"></div>
    </div>
    <div class="row" id="contact-3rd">
      <div class="contact-content-top"></div>
      <div class="contact-content-btm"></div>
    </div>
  </div>
</template>