<template name="intro">
  <div class="container-fluid">
    <div id="intro-1st">
        <div class="intro-1st-content">
            <h1>Securing Our Skies</h1>
            <p>Our world is changing rapidly. Technology allows us to see life from a new perspective  a perspective we unfortunately need to protect ourselves against. Citadel protects us in a world where we cannot protect ourselves.</p>
            <p>To learn more, feel free to reach out below.</p>
            <a href="#">Contact Us</a>
        </div>
        <div id="vanilla-slideshow-container">
            <div id="vanilla-slideshow">
                <div class="vanilla-slide">
                    <img src="img/genie.gif" alt="slide1">
                </div>
                <div class="vanilla-slide">
                    <img src="img/nature.gif" alt="slide2">
                </div>
                <div class="vanilla-slide">
                    <img src="img/genie.gif" alt="slide3">
                </div>
            </div>
            <div id="vanilla-indicators"></div>
            <div id="vanilla-slideshow-previous">
              <!-- <img src="arrow-previous.png" alt="slideshow arrow"> -->
            </div>
            <div id="vanilla-slideshow-next">
              <!-- <img src="arrow-next.png" alt="slideshow arrow"> -->
            </div>
        </div>
    </div>
    <div class="row" id="intro-2nd">
        <div class="intro-content">
            <h2>What We Do</h2>
            <p>Reliable, Tested Defense Infastructure 100+ years of experience</p>
            <p>Reliable, Tested Defense Infastructure 100+ years of experience</p>
        </div>
    </div>
    <div class="row" id="intro-3rd">
        <div class="intro-content">
            <h2>Eliminate Vulnerability at any Scale</h2>
            <div class="step-icons">
                <img src="#">
                <img src="#">
                <img src="#">
            </div>
            <ul>
                <li>Install</li>
                <li>Detect</li>
                <li>Track</li>
                <li>Neutralize</li>
            </ul>
        </div>
    </div>
    <div class="row" id="intro-4th">
        <div class="intro-content">
            <h2>Cutting-edge Drone Defense Systems</h2>
            <p>Reliable, Tested Defense Infastructure 100+ years of experience</p>
            <img src="">
        </div>
    </div>
    <div class="row" id="intro-5th">
        <div class="intro-content">
            <h2>Why Us?</h2>
            <h4>Innovative Hardware at the Hands of Industry Veterans</h4>
            <p>100+ years of experience</p>
        </div>
    </div>
  </div>
</template>