<template name="intro">
  <div class="container-fluid">
    <div id="intro-1st">
        <div class="intro-1st-content">
            <h1>Securing Our Skies</h1>
            <p>Citadel defends a target before it becomes one.</p>

            <a href="/" class="btn-bottom"><div class="slider"></div><div class="top-slider"></div><div class="btn-text">learn more</div></a>

        </div>
        <div id="vanilla-slideshow-container">
        <div class = "cover"></div>
            <div id="vanilla-slideshow">
                <div class="vanilla-slide">
                    <img src="img/soccer-stadium.jpeg" alt="slide2">
                </div>
                <div class="vanilla-slide">
                    <img src="https://images.unsplash.com/photo-1425321395722-b1dd54a97cf3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=814926e69fcf3a86ffbdf93f09053915" alt="slide1">
                </div>
                <div class="vanilla-slide">
                    <img src="img/soccer-stadium.jpeg" alt="slide2">
                </div>
                <div class="vanilla-slide">
                    <img src="img/highway.jpeg" alt="slide3">
                </div>
            </div>
            <div id="vanilla-indicators"></div>
            <div id="vanilla-slideshow-previous">
              <!-- <img src="arrow-previous.png" alt="slideshow arrow"> -->
            </div>
            <div id="vanilla-slideshow-next">
              <!-- <img src="arrow-next.png" alt="slideshow arrow"> -->
            </div>
        </div>
    </div>
    <div class="row" id="intro-2nd">
        <div class="intro-content fade-in">
            <h2>We've Got You Covered</h2>
            <p>Today, the <span>only</span> drone disaster prevention technology on the market is extremely expensive.</p>
            <p>Citadel has created an enterprise solution designed with our nation's airports, schools, shopping malls, stadiums, and other high value public targets in mind.</p>

            <a href="/" class="hiw">how it works</a>
        </div>
    </div>
    <div class="row" id="intro-3rd">
            <h2>How it Works</h2>
            <ul>
                <li class = "fade-in">
                    <img src="img/circle-drone.png">
                    <h3><span>Install</span></h3>
                    <p>Citadel detection and neutralizing technology is installed around any “high risk” target.</p>
                    
                </li>
                
                 <li class = "fade-in">
                    <img src="img/locked.png" id="shift-right">
                    <h3><span>Detect</span></h3>
                    <p>Our proprietary drone detection algorithm scans all drone communication frequencies.</p>
                </li>
               
                <li class = "fade-in">
                    <img src="img/netralize.png" id="shift-right">
                    <h3><span>Track</span></h3>
                    <p>Once detected,  our communication link interference systems are automatically initiated to track the rogue drone and create a communication dead zone around it.</p>
                </li>
                
                
                 <li class = "fade-in">
                    <img src="img/radar.png">
                    <h3><span>Neutralize</span></h3>
                     <p>When the drone’s operating system is disrupted by Citadel three things can happen: <span>1</span> the drone will hover in its “dead zone” location until battery power runs out and it lands. <span>2</span> It enters a preloaded landing protocol. <span>3</span> the device will ‘return home’ if it’s been pre-programmed.
                    </p>
                </li>
               
            </ul>
        </div>
  </div>
</template>