<template name="intro">
  <div class="container-fluid">
    <div id="intro-1st">
        <div class="intro-1st-content">
            <h1>Securing Our Skies</h1>
            <p>Citadel defends a target before it becomes one.</p>

            <a href="/" class="btn-bottom"><div class="slider"></div><div class="top-slider"></div><div class="btn-text">learn more</div></a>

        </div>
        <div id="vanilla-slideshow-container">
        <div class = "cover"></div>
            <div id="vanilla-slideshow">
                <div class="vanilla-slide">
                    <img src="img/soccer-stadium.jpeg" alt="slide2">
                </div>
                <div class="vanilla-slide">
                    <img src="https://images.unsplash.com/photo-1425321395722-b1dd54a97cf3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=814926e69fcf3a86ffbdf93f09053915" alt="slide1">
                </div>
                <div class="vanilla-slide">
                    <img src="img/soccer-stadium.jpeg" alt="slide2">
                </div>
                <div class="vanilla-slide">
                    <img src="img/highway.jpeg" alt="slide3">
                </div>
            </div>
            <div id="vanilla-indicators"></div>
            <div id="vanilla-slideshow-previous">
              <!-- <img src="arrow-previous.png" alt="slideshow arrow"> -->
            </div>
            <div id="vanilla-slideshow-next">
              <!-- <img src="arrow-next.png" alt="slideshow arrow"> -->
            </div>
        </div>
    </div>
    <div class="row" id="intro-2nd">
        <div class="intro-content hidden">
            <h2>We've Got You Covered</h2>
            <p>Today, the <span>only</span> drone disaster prevention technology on the market is extremely expensive.</p>
            <p>Citadel has created an enterprise solution designed with our nation's airports, schools, shopping malls, stadiums, and other high value public targets in mind.</p>

            <a href="/" class="hiw">how it works</a>
        </div>

    </div>
    <div class="row" id="intro-3rd">
            <ul>
                <li class="fade-in">
                    <img src="img/circle-drone.png" class = "normal fly-in">
                    <h3 class = "normal fly-in"><span>Install</span></h3>
                    <p class = "normal fly-in">Citadel's modular DFU units are installed around a high risk target.</p>
                    <div id = "absolute-scroll"><img style="width:33px; position: relative; height: 63px;padding-top:50px;" src="img/mouse.gif"/></div>
                </li>

                
                 <li class = "fade-in">
                    <img src="img/radar.png" class = "normal2 fly-in2">
                    <h3 class = "normal2 fly-in2"><span>Detect</span></h3>
                    <p class = "normal2 fly-in2">Citadel's Sky Sniffer technology scans the skies for drones 24/7/365</p>


                </li>
               
                <li class="fade-in">
                    <img src="img/locked.png" class = "normal3 fly-in3">
                    <h3 class = "normal3 fly-in3"><span>Track</span></h3>
                    <p class = "normal3 fly-in3">Once detected, Citadel automatically software pin points the drone location and tracks its course.</p>
                   
                </li>
                
                
                 <li class="fade-in">
                    <img src="img/netralize.png" class = "normal4 fly-in4">
                    <h3 class = "normal4 fly-in4"><span>Neutralize</span></h3>
                     <p class = "normal4 fly-in4">If a drone gets too close to a high risk target, Citadel's targeted neutralizer automatically activates and severs communication between drone and pilot.
                    </p>
                </li>
               
            </ul>
        </div>
  </div>
</template>