<template name="nav">
  <nav class="top-nav">
    <div class="center-header">
      <h1>CITADEL</h1>
    </div>
     <div class="menu-container">
      	<div class="menu">
      		<a><img src="img/menu.png"></a>
      	</div>
     </div>
     <div class="center-btn">
        <ul>
          <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
          <li><a href="#roster">Team</a><div class="border-bottom"></div></li>
          <li><a href="#gallery">About</a><div class="border-bottom"></div></li>
        </ul>
      </div>
  </nav>
</template>