<template name="nav">
<nav class="top-nav">
<div class="vertical">
    <h1>CITADEL</h1>
   <div class="menu-container">
    	<div class="menu">
    		<a><img src="../menu-btn.png"></a>
    	</div>
   </div>
      <ul class="top-menu">
        <li><a href="#contact">Contact</a><div class="border-bottom"></div></li>
        <li><a href="#roster">Roster</a><div class="border-bottom"></div></li>
        <li><a href="#gallery">Gallery</a><div class="border-bottom"></div></li>
        <li><a href="#schedule">Schedule</a><div class="border-bottom"></div></li>
      </ul>
</div>
</nav>
</template>