.container-fluid {

}

.row {
  /*height: 667px;*/
}

#about-1st {
  background-color: lightgray;
}

#about-2nd {
  background-color: white;
}

#about-3rd {
  background-color: lightgray;
}

#about-4th {
  background-color: white;
}

.about-content {
  border: 1px black solid;
  height: 350px;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}
