.container-fluid {

}

.row {
  /*height: 667px;*/
}

.about-1st {
  background-color: lightgray;
}

.about-2nd {
  background-color: white;
}

.about-3rd {
  background-color: lightgray;
  .about-content {
      border: 1px black solid;
      height: 100%;
      margin: 0 auto;
      margin-top: 10%;
      text-align: center;
      width: 90%;
    }
  img {
    border-radius: 50%;
    height: 190px;
    width: 190px;
  }

}

.about-4th {
  background-color: white;
}


