.container-fluid {

}

.row {
  height: 667px;
}

#contact-1st {
  background-color: lightgray;
}

#contact-2nd {
  background-color: white;
}

#contact-3rd {
  background-color: lightgray;
}

#contact-4th {
  background-color: white;
}

.contact-content-top {
  border: 1px black solid;
  height: 40%;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}

.contact-content-btm {
  border: 1px black solid;
  height: 40%;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}