.container-fluid {
  background: rgba(209, 209, 209, 0.5);
}

.row {
  display: block;
  height: 100%;
}

.contact-content {
  border: 1px black solid;
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

#contact-1st {
  background-color: lightgray;
  padding: 100px 0;
}

#contact-2nd {
  background-color: white;
  padding: 100px 0;
}

#contact-3rd {
  background-color: lightgray;
}

#contact-4th {
  background-color: white;
}


