.container-fluid {

}

.row {

}

#contact-1st {
  background-color: lightgray;
}

#contact-2nd {
  background-color: white;
}

#contact-3rd {
  background-color: lightgray;
}

#contact-4th {
  background-color: white;
}

.contact-content {
  border: 1px black solid;
  height: 350px;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}
