ul {border: 1px red solid;}
li {border: 1px green solid;}
h2 {border: 1px purple solid;}
h4 {border: 1px orange solid;}
a {border: 1px white yellow;}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
/*first banner*/

.container-fluid {
  background: rgba(209, 209, 209, 0.5);
}

.intro-content {
  border: 1px black solid;
  height: 100%;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}

.intro-1st-content {
  position: absolute;
  top:120px;
  padding: 120px 0 0 50px;
  /*left: 30px;*/
  width: 90%;
  z-index: 200;
  margin: 0 auto;
}

#intro-1st h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  z-index: 20;
  color: white;
  padding: 0;
  margin: 0;
}

#intro-1st p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}




.btn-bottom {
  display: block;
  height: 60px;
  width:222px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color:white;
  font-size: 15px;
  background:#F24236;
  margin-top: 25px;



  &:hover .slider {
    max-height: 100%;
  }
}

.btn-bottom .btn-text {
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  left: 0;
  bottom:0;
  height: 18px;
  transition: all .3s ease-in-out;
}

.btn-bottom .slider {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #5e7a8b;
  transition: all .3s ease-in-out;
  max-height: 0;
}




#intro-1st {
  height: 667px;
  position: relative;

}

/*second banner*/

#intro-2nd {
 background: lightgray;
 top:0;
 position:relative;
 margin:0;
 display: block;




}

.intro-content {
  border: 1px black solid;
  height: 100%;
  margin: 0 auto;
  width: 90%;
}

/*third banner*/

#intro-3rd {
  background: white;
}

#intro-3rd {

  }
  ul {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
  li {
    display: block;
  }
  img {
    height: 80px;
    width: 80px;
  }

/*fourth banner*/

#intro-4th {
  background: lightgray;
}

#intro-4th img {
    height: 100px;
    width: 280px;
}


#intro-5th {
  background: white;
}
