ul {border: 1px red solid;}
li {border: 1px green solid;}
h2 {border: 1px purple solid;}
h4 {border: 1px orange solid;}
h5 {border: 1px white solid;}
a {border: 1px white yellow;}




/*first banner*/

.intro-1st-content {
  position: absolute;
  top: 180px;
  /*left: 30px;*/
  width: 75%;
  z-index: 4444;
}

#intro-1st h1 {
  z-index: 20;
  color: white;
  padding: 0;
  margin: 0;
}

#intro-1st p {
  color: white;
  padding: 0;
  margin: 0;
}

#intro-1st a {
  color: white;
  background: red;
  padding: 16px 0;
  width: 200px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  display:block;
  background: red;
}


#intro-1st {
  height: 667px;

}

/*second banner*/

#intro-2nd {
 background: lightgray;

}

.intro-content {
  border: 1px black solid;
  height: 350px;
  margin: 0 auto;
  margin-top: 10%;
  width: 90%;
}

/*third banner*/

#intro-3rd {
  background: white;
}

/*fourth banner*/

#intro-4th {
  background: lightgray;
}

#intro-5th {
  background: white;
}


@media screen and ( min-width: 600px ) {
.intro-1st-content {
}
}