.top-nav {
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 100;
	display: table;

	.vertical {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		height: 32px;
		padding-left: 20px;
		padding-right: 20px;

	h1 {
		float: left;
		margin: 0;
		padding: 5px 0;
		color: white;
		letter-spacing: 2px;

	}



	.menu-container {
		display: none;

		.menu {
			display: none;
		}

	}

	ul {
		float: right;
		margin: 0;
		border: none;
		width: 50%;

		li{
			display: inline-block;
			float: right;
			height: 100%;
			padding: 15px 0;
			border: none;
			width: 100px;
			text-align: center;

			a {
				text-decoration: none;
				color: white;
				text-transform: uppercase;
			}


	}

	}
}
}

