/*font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif; */

h1, h2, h3, a {
	font-family: 'Lato', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif
}

.top-nav {
	position: fixed;
	width: 100%;
	height: 60px;
	display: table;
	z-index: 1000;
	transition: all .5s ease-in-out;
	background: none;
	max-height: 60px;
	top:0;




	h1 {
		display: table-cell;
		vertical-align: middle;
		margin: 0;
		color: white;
		letter-spacing: 2px;
		padding-left:20px;

	}

	.center-header {
		display: table;
		float:left;
		height: 100%;
	}



	.menu-container {
		display: none;
		height: 100%;
		float: right;
		padding-right: 12px;
		padding-top: 7.2px;

		.menu {
			display: none;
			vertical-align: middle;
			position: relative;
			height: 30px;
			width: 30px;
			cursor: pointer;
		

			
		}

	}

	.menu-global {
	  backface-visibility: hidden;
	  position: absolute;
	  left: 0;
	  border-top: 3px solid white;
	  width: 100%;
	  transition: 0.55s;
	  margin-top: 6px;
	}
	.menu-top {
	  top: 0;
	}
	.menu-middle {
	  top: 10px;
	}
	.menu-bottom {
	  top: 20px;
	}
	.menu-top-click {
	  backface-visibility: hidden;
	  top: 10.5px;
	  transform: rotate(50deg);
	  transition: 0.55s 0.5s;
	}
	.menu-middle-click {
	  opacity: 0;
	}
	.menu-bottom-click {
	  backface-visibility: hidden;
	  top: 10.5px;
	  transform: rotate(-410deg);
	  transition: 0.55s 0.5s;
	}

	.center-btn {
		height: 100%;
		display: table;
		float: right;
		width: 50%;
	}

	ul {
		margin: 0;
		border: none;
		display:table-cell;
		vertical-align: middle;
		padding-right: 10px;

		li {
			display: inline-block;
			float: right;
			border: none;
			width: 75px;
			margin-right: 25px;
			text-align: center;
			position: relative;

				&:hover .border-bottom {
					max-width: 100%;


				}
				&:first-child {
					width: 73px;
					margin-right: 15px;

				}

				&:nth-child(2){
					width: 53px;
				}

				&:last-child{
					width:47px;

				}

				
					


			a {
				text-decoration: none;
				color: white;
				font-size: 14px;
				text-transform: uppercase;
				position: relative;
				display: block;
				height: 100%;
				width: 100%;
				letter-spacing: 1px;

				
			}



			

			.border-bottom {
				position: absolute;
				left: 0;
				max-width: 0;
				width: 100%;
				bottom: -15%;
				border-bottom: 2px #F24236 solid;
				transition: all .3s ease-in-out;
			}




	}

	}
}



.top-nav.nav-up {
	top: -60px;
	transition: all .3s ease-in-out ;
}


@media screen and (max-width:600px) {


.top-nav {
	height: 50px;
}

	h1 {
		padding-left: 10px !important;
	}
	.top-nav ul {
		width: 100% !important;
		position: fixed;
		z-index: 1000;
		margin-top: 50px !important;
		overflow: hidden;
		max-height: 0;
		transition: all .5s ease-in-out;
		opacity:0;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}

	.intro-1st-content a {
		margin-top: 20px !important;
	}

	.top-nav ul.active {
		max-height:50%;
		opacity:1;
	}
	.top-nav li {
		float: none !important;
		display: block !important;
		text-align: justify !important;
		width: 100%!important;
		padding: 15px;
		background:#5e7a8b; 
		transition: all .3s ease-in-out;
		border-bottom: rgba(0, 0, 0, 0.1) 1px solid !important;

		&:first-child {
			border-top: rgba(0, 0, 0, 0.1) 1px solid !important;
		}
	}

	.border-bottom {
		display: none;
	}

	.center-btn {
		float: none !important;
		display: block !important;
		width: 100% !important;
	}

		.menu-container {
			display: table !important;
			height: 100%;
			float: right;


		.menu {
			display: table-cell!important;
			vertical-align: middle;
		}

	}

	.intro-1st-content {
		position: absolute;
		top:60px !important;
		padding: 50px 0 0 0;
		/*left: 30px;*/
		width: 100%;
		z-index: 200;
		margin: 0 auto !important;
}

#intro-2nd {
	height: auto !important;
}


.intro-1st-content a {
	margin:0 auto;
}

#intro-1st p {
	text-align: center;
	font-size: 25px;
}

#intro-1st h1 {
	font-size: 50px;
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
}


}